 *
 {
    margin: 0;
    padding: 0;

 }
 body{
    background-color: black;
 }
 .swapper .slider img{
    width: 250px;
 }
 .swapper
 {
    margin: 3rem;
    overflow-x: auto;
    display: flex;
    overflow-y: hidden;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch;
 }
 .slider
{
    /* display: inline-block; */
    flex: 0 0 ;

}